.section-heading-section-heading {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.section-heading-text {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.section-heading-text1 {
  color: var(--dl-color-gray-black60);
  text-align: center;
  line-height: 24px;
}





.page1-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 70px;
  flex-direction: column;
}
.page1-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.page1-header {
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.page1-navbar1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.page1-container01 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page1-image {
  width: 24px;
  height: 24px;
  z-index: 100;
  margin-right: -32px;
}
.page1-textinput {
  width: 100%;
  max-width: var(--dl-size-size-xxlarge);
  transition: 0.3s;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.page1-textinput:hover {
  border-color: var(--dl-color-pallet-yellow);
}
.page1-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.page1-navlink {
  display: contents;
}
.page1-image1 {
  width: 200px;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.page1-middle {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.page1-right {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.page1-left {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.page1-icons {
  display: flex;
}
.page1-link {
  display: contents;
}
.page1-image2 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.page1-link01 {
  display: contents;
}
.page1-image3 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.page1-link02 {
  display: contents;
}
.page1-image4 {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.page1-burger-menu {
  display: none;
}
.page1-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.page1-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.page1-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page1-container03 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.page1-logo-center {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.page1-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page1-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page1-middle1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.page1-text05 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.page1-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.page1-text07 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.page1-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.page1-text09 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.page1-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.page1-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.page1-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.page1-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page1-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.page1-hero {
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-pallet-green);
}
.page1-max-width {
  max-width: 1032px;
}
.page1-hero1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page1-image5 {
  width: 50%;
  position: relative;
  max-width: 579px;
  box-sizing: border-box;
  max-height: 579px;
  object-fit: cover;
  border-color: transparent;
}
.page1-container04 {
  width: 454px;
  display: flex;
  margin-right: 20px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.page1-text11 {
  width: 371px;
  height: 66px;
  max-width: 450px;
  margin-bottom: 19px;
}
.page1-text12 {
  width: 409px;
  height: 62px;
  max-width: 450px;
  margin-bottom: var(--dl-space-space-unit);
}
.page1-btn-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.page1-full-width-banner {
  width: 100%;
  height: 202px;
  display: flex;
  align-items: stretch;
  padding-top: 0px;
  justify-content: center;
}
.page1-left1 {
  flex: 1;
  height: 225px;
  display: flex;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-color: #F3F0E6;
}
.page1-content {
  width: 685px;
  height: 74px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  margin-top: 0 0 40px 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0 0 40px 0;
  border-color: transparent;
  margin-right: 0 0 40px 0;
  flex-direction: column;
}
.page1-text13 {
  color: rgb(0, 0, 0);
  height: auto;
  margin: 0 0 16px 0;
  font-size: 40px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Jost;
  font-weight: 500px;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.page1-text16 {
  color: rgba(0, 0, 0, 0.6);
  width: 267px;
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Jost;
  font-weight: 400px;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.page1-text18 {
  color: rgba(236, 18, 18, 0.6);
}
.page1-max-width2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.page1-footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-950);
  border-width: 1px;
  flex-direction: column;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.page1-footer1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
}
.page1-container05 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.page1-text19 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.page1-text20 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.page1-text21 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-twounits);
}
.page1-text22 {
  color: var(--dl-color-gray-black50);
  margin-top: 12px;
}
.page1-links-container {
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.page1-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.page1-container07 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.page1-text23 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.page1-link03 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page1-link04 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page1-link05 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page1-link06 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page1-link07 {
  color: var(--dl-color-gray-black50);
  text-decoration: none;
}
.page1-container08 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.page1-text28 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.page1-text29 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page1-link08 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page1-link09 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page1-link10 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page1-container09 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.page1-text30 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.page1-link11 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page1-link12 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page1-link13 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page1-link14 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
@media(max-width: 991px) {
  .page1-container01 {
    display: none;
  }
  .page1-right {
    display: none;
  }
  .page1-left {
    display: none;
  }
  .page1-icons {
    display: none;
  }
  .page1-burger-menu {
    display: flex;
  }
  .page1-icon {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .page1-logo-center {
    margin-left: 0px;
  }
  .page1-hero1 {
    flex-direction: column;
  }
  .page1-container04 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .page1-text11 {
    color: #2d24b5;
    text-align: center;
    text-transform: uppercase;
  }
  .page1-text12 {
    color: rgb(216, 47, 85);
    text-align: center;
    text-transform: uppercase;
  }
  .page1-footer1 {
    flex-direction: column-reverse;
  }
  .page1-links-container {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .page1-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page1-main {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .page1-hero {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .page1-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page1-image5 {
    width: 50%;
  }
  .page1-full-width-banner {
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .page1-left1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .page1-content {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page1-text16 {
    width: auto;
  }
  .page1-footer1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .page1-links-container {
    margin-top: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .page1-container {
    padding-top: 55px;
  }
  .page1-header {
    padding: var(--dl-space-space-unit);
  }
  .page1-mobile-menu {
    padding: 16px;
  }
  .page1-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .page1-image5 {
    width: 50%;
  }
  .page1-container04 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page1-text11 {
    color: rgb(45, 36, 181);
    text-transform: uppercase;
  }
  .page1-text12 {
    color: rgb(216, 47, 85);
    text-transform: uppercase;
  }
  .page1-btn-group {
    flex-direction: column;
  }
  .page1-max-width1 {
    padding-right: 4px;
  }
  .page1-full-width-banner {
    height: 161px;
  }
  .page1-left1 {
    width: auto;
  }
  .page1-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .page1-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .page1-container07 {
    margin-right: var(--dl-space-space-unit);
  }
  .page1-container08 {
    margin-right: var(--dl-space-space-unit);
  }
}
